@charset "UTF-8";
/* CSS Document */

/* recet css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* base */
img{
	vertical-align: bottom;
	max-width: 100%;
}
body {
	width: 100%;
	line-height: 1.6;
	font-family: 'Noto Sans JP', sans-serif;
}
a{
	transition: opacity ease-in .3s;
}
a:hover {
	opacity: 0.7;
}
.main {
	background-color: #fff;
}
.footer {
	display: table;
	height: auto;
	width: 100%;
	text-align: center;
}
.footer > small {
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	background-color: rgba(4,199,226,1.00);

}
.content_wrapper{
	border: solid 20px #00c7e2 ;
}
.l-section{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}
/* hero */
.hero {
	margin: 0 auto;
	width:100%;
}
.hero img{
	width:100%;
}
.hero_cta{
	position: absolute;
}

/* 未編集 */
.cv_area {
	position: relative;
}
.cv_btn {
	position: absolute;
	right: 0;
	top: 285px;
	margin: 10px;
}
.column {
	display: flex;
}
.column_01 {
	margin: 2% 4%;
}
.main_text {
	font-size: 20px;
	margin-top: 50px;
	font-weight: bold;
}
.sai {
	position: relative;
    bottom: 0px;
    left: -2px;
}
.line {
	margin: 45px 0;
	width: 85%;
	border-bottom: solid 2px;
	border-bottom-color: rgba(4,199,226,1.00);
}
.line_02 {
	border-bottom: solid 1px;
	width: 60%;
	margin: 0 auto;
	padding-bottom: 20px;
}
.merit > ul {
	display: flex;
    justify-content: center;
}
.merit > ul > li {
	width: calc(100% / 3);
}
.merit > ul > li > img {
	width: 95%;
}
.merit {
	text-align: center;
}
.merit_li_img {
	width: 90%;
}
h3 {
	font-size: 30px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}
.merit_img {
	text-align: right;
	margin-right: 2%;
}

/* info */
.info {
	text-align: left;
}
.info_num_img {
	width: 100%;
}
.info_01, .info_02, .info_03 {
	text-align: center;
}
.info_h2_area > h2, .sns > h2 {
	font-size: 28px;
	font-weight: bold;
	margin: 3%;
}
.info_h2_right {
	text-align: right;
}
.info_h2_left {
	text-align: left;
}
.info_contents > h3 {
    display: inline-block;
    padding: 3px 60px;
    width: auto;
    font-size: 20px;
    font-weight: normal;
    border: solid 1px;
    border-radius: 30px;
    margin: 50px 0px 20px 0px;
}
.info_contents {
	text-align: center;
}
.info_contents > p , .info_contents > ol{
	line-height: 2;
}
.info_note {
	margin: 20px;
	text-align: center;
}
.info_text {
	width: 45%;
	margin: 0 auto;
	line-height: 2;
}
.info_h2_area, .sns > h2 {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.info_03_column {
	margin: auto;
	border: 1px solid;
	border-radius: 15px;
	border-color: #C93597;
	color: #C93597;
	padding: 5px 50px;
}
.info_text_color_pink {
	color: #C93597;
}
.info_text_bg_01 {
	background-color: #FEFF7C;
}
.info_03_list, .sns_list {
	width: 50%;
    margin: 0 auto;
	font-size: 20px;
	padding: 3%;
}
.info_03_text {
	margin-bottom: 10%;
}
.plan_caption {
	width: 55%;
	font-size: 18px;
	margin: 0 auto;
	text-align: left;
}
.plan_caption_center, .sns_caption_center {
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
}
.plan_caption_li {
	display: inline-block;
	font-size: 18px;
}
.plan_caption_li > li {
	text-align: left;
}
.cv_area_02 {
	text-align: center;
	margin: 100px 0px 20px 0px;
}

/* sns */
.sns_column {
	margin: auto;
	text-align: center;
}
.sns_column > a {
	text-decoration:none;
}
.sns_column > a:hover{
	text-decoration: underline;
}
.sns_column > a > p {
	margin: 5% 0%;
}
.twitter > a {
	color: #00C7E2;
}
.instagram > a {
	color: #C93597;
}

/* sp */

@media screen and (max-width: 768px) {
	.column {
		display: block;
	}
	.lead_pic_01 {
		position: relative;
    	bottom: 30px;
	}
	.main_h2 {
		width: 100%;
	}
	.main_text {
		margin-top: 0px;
	}
	.l-section > h3 {
		font-size: 18px;
	}
	.merit > ul {
		display: block;
	}
	.merit > ul > li, .info_h2_area {
		width: 100%;
	}
	.merit_li_img {
		width: calc(100% / 1.2);
		margin: 2% 0%;
	}
	.info_num_img {
		width: 95%;
	}
	.info_h2_area > h2, .sns > h2 {
		font-size: 18px;
		width: 90%;
		margin: 5% auto;
	}
	.plan_caption, .info_text, .cv_btn_img, .info_03_list, .sns_list, .date_01{
		width: 90%;
	}
	.plan_caption_li {
		font-size: 15px;
	}
	.plan_caption_center, .sns_caption_center {
		text-align: left;
		width: 90%;
   		margin: 0 auto;
	}
	.cv_area_02 {
		margin: 20px 0px;
	}
	.info_03_column {
		margin: 5% 0%;
	}
	.sns_list {
		display: flex;
		margin: 10% 0%;
	}
	.sns_column {
		width: 30%;
	}
}